* {
  box-sizing: border-box; /* included border size as part of width value */
  margin: 0; /* remove all default margins */
  padding: 0; /* remove all default padding */
}

html {
  background: #ffffff;
  height: 100vh;
  width: 100%;
}

body {
  height: 100%;
}
