// ------------------------------------------------------- COLORS ------------------------------------------------------
// ----------------------------------------------------- ONS COLORS ----------------------------------------------------

// --- ONS General palette ---
$spring-green: #a8bd3a;
$aqua-teal: #00a3a6;
$sky-blue: #27a0cc;
$ocean-blue: #206095;
$night-blue: #003c57;

// --- Census ---
$indigo-blue: #3c388e;
$plum-purple: #902082;
$flamingo-pink: #df0667;

// --- Supporting palette ---
$ruby-red: #d0021b;
$jaffa-orange: #fe781f;
$sun-yellow: #fbc900;
$neon-yellow: #f0f762;
$leaf-green: #0f8243;

// --- Grays ---
$black: #222;
$grey1: #414042;
$grey2: #707071;
$grey3: #bcbcbd;
$grey4: #e2e2e3;
$grey5: #f5f5f6;
$white: #fff;

// --- Tints ---
// Allowed tint percentages
$tints: (70, 40, 10);
// colours to be used (currently all listed in colour palettes except greys)
$tintable-colors: (
  $spring-green,
  $aqua-teal,
  $sky-blue,
  $ocean-blue,
  $night-blue,
  $indigo-blue,
  $plum-purple,
  $flamingo-pink,
  $ruby-red,
  $jaffa-orange,
  $sun-yellow,
  $neon-yellow,
  $leaf-green);

// Assignment
$text-color: $black;
$text-color-inverse: $white;

$error-color: $ruby-red;

// ----------------------------------------------------- DP COLORS -----------------------------------------------------

// --- Charts ---
// Palette 1
$dp-chart-palette-1: ($ocean-blue, $sky-blue, $night-blue, #118c7b, $spring-green);

// Palette 2
$dp-chart-palette-2: join($dp-chart-palette-1, (#871a6b, #f66068, #746cb1, #22d0b6));

// Palette 3
$dp-chart-palette-3: ($ocean-blue, $sky-blue, #871a6b, $spring-green, #f66068);

// Highlight color for all pallets
$dp-chart-highlight: #f39431;
